/* @media only screen and (min-width:1600px) and (max-width: 1700px), screen and (min-height: 900px) and (max-height: 950px){
.welcome_p {
    font-size: 31px;
}

.window1_button{
    margin-top: 20%;
    font-size: 28px;
}

.TotalsTexts:after, .TotalsTexts:before{
    margin-top: 1.8%;
}

.window_2_moreText{
    font-size: 25px;
}

.window2_button {
    margin: 7% 0 0% 50%;
}

.mySlides{
    font-size: 16px;
}

.window3_button{
    margin: 15% 0 0 50%;
}

.window_4_spusok li{
    font-size: 21px;
}

.scrollTop{
    width: 3%;
}

.ulmenu li{
    font-size: 500%;
}

.leftIncon{
    margin-left: -5%;
}
}*/

@media only screen and (min-width:1500px) and (max-width: 1600px){

.welcome_p {
    font-size: 30px;
    margin-top: 7%;
}

.window1_button{
    margin-top: 20%;
    font-size: 28px;
}

.TotalsTexts:after, .TotalsTexts:before{
    margin-top: 1.8%;
}

.window_2_moreText{
    font-size: 25px;
}

.window2_button {
    margin: 7% 0 0% 50%;
}

.mySlides{
    font-size: 16px;
}

.window3_button{
    margin: 13% 0 0 50%;
    font-size: 14px;
}

.window_4_spusok li{
    font-size: 21px;
}

.scrollTop{
    width: 3%;
}

.menuLi{
    font-size: 500%;
}

.menuLi3{
    font-size: 320%;
}

.leftIncon{
    margin-left: -5%;
}

}

@media only screen and (min-width:1400px) and (max-width: 1500px){

.welcome_p {
    font-size: 31px;
}

.window1_button{
    margin-top: 20%;
    font-size: 28px;
}

.TotalsTexts:after, .TotalsTexts:before{
    margin-top: 1.8%;
}

.window_2_moreText{
    font-size: 25px;
}

.window2_button {
    margin: 7% 0 0% 50%;
}

.mySlides{
    font-size: 16px;
}

.window3_button{
    margin: 15% 0 0 50%;
}

.window_4_spusok li{
    font-size: 21px;
}

.scrollTop{
    width: 3%;
}

.menuLi{
    font-size: 500%;
}

.menuLi3{
    font-size: 310%;
}

.leftIncon{
    margin-left: -5%;
}

.window3_button{
    font-size: 13px;
}

.window4_button{
    font-size: 12px;
}

}

@media only screen and (min-width:1300px) and (max-width: 1400px){
.glitch{
    font-size: 80px;
}

.welcome_p {
    font-size: 25px;
}

.window1_button {
    margin-top: 15%;
    font-size: 28px;
    width: 42%;
}

.window1ButtonText {
    margin-top: 6%;
}

.TotalsTexts:after, .TotalsTexts:before{
    margin-top: 1.8%;
}

.window_2_moreText{
    font-size: 22px;
}

.window2_button {
    margin: 7% 0 0% 50%;
}

.mySlides{
    font-size: 16px;
}

.dots {
    position: relative;
    top: 15%;
}

.window3_button{
    margin: 15% 0 0 50%;
}

.window_4_spusok li{
    font-size: 17px;
}

.scrollTop{
    width: 3%;
}

.window_4_photo, .window_4_spusok{
    margin-top: -1%;
}

.menuLi{
    font-size: 460%;
}

.menuLi3{
    font-size: 300%;
}

.leftIncon{
    margin-left: -5%;
}

.window3_button{
    font-size: 13px;
}

.window4_button{
    font-size: 12px;
}

.closeMenu {
    padding: 0 .60%;
    transform: scale(.9);
}

@keyframes closeMenuAnimaShow{
  0%{transform: scale(0);}
  100%{transform: scale(.9);}
}


.settingsModalBlockContent {
    width: 30%;
}

.closeSettings {
    right: 36%; 
    top: 16%;
}
}

@media only screen and (min-width:1200px) and (max-width: 1300px){

.window1_l_block{
    margin-top: -5%;
}

.glitch {
    font-size: 85px;
}

.welcome_p {
    font-size: 25px;
}

.window1_background2 {
    width: 60%;
}

.window1_button {
    margin-top: 20%;
    font-size: 25px;
    width: 40%;
    height: 9%;
}

.window1ButtonText {
    margin-top: 6%;
}

.TotalsTexts:after, .TotalsTexts:before{
    margin-top: 1.8%;
}

.window_2_moreText{
    font-size: 22px;
}

.window2_button {
    margin: 7% 0 0% 50%;
    font-size: 13px;
    width: 19%;
}

.mySlides{
    font-size: 16px;
}

.dots {
    position: relative;
    top: 15%;
}

.dot {
    margin: 7% 0 5% 10%;
}

.window3_button{
    margin: 15% 0 0 50%;
}

.window_4_spusok li{
    font-size: 17px;
}

.scrollTop{
    width: 3.6%;
    transform: scale(.8);
}

.manuLi{
    font-size: 430%;
}

.menuLi3{
    font-size: 290%;
}

.leftIncon{
    margin-left: -5%;
}

.window3_button{
    font-size: 13px;
}

.window4_button{
    font-size: 11px;
}

.closeMenu {
    padding: 0 .60%;
    transform: scale(.9);
}

@keyframes closeMenuAnimaShow{
  0%{transform: scale(0);}
  100%{transform: scale(.9);}
}

.menuImg {
    top: 7%;
    right: 11%;
}

@keyframes menuImgAnimate{
    0%{transform: rotate(0deg);right: 35%;}
    100%{transform: rotate(15deg);right: 11%;}
}

.settingsModalBlockContent {
    width: 30%;
}

.closeSettings {
    right: 36%;
    top: 13%;
}

.menuLi{
    font-size: 450%;
}

.menuLi3{
    font-size: 300%;
}

}

@media only screen and (min-width:1100px) and (max-width: 1200px){

.glitch {
    font-size: 85px;
}

.welcome_p {
    font-size: 24px;
}

.window1_background2 {
    width: 60%;
}

.window1_button {
    margin-top: 20%;
    font-size: 25px;
    width: 40%;
    height: 10%;
}

.window1ButtonText {
    margin-top: 6.5%;
}

.TotalsTexts:after, .TotalsTexts:before{
    margin-top: 2.5%;
}

.window_2 {
    margin-top: 9%;
}

.window_2_moreText{
    font-size: 20px;
}

.window2_button {
    margin: 7% 0 0% 50%;
    font-size: 13px;
    width: 19%;
}

.mySlides h1 {
    font-size: 40px;
}

.mySlides{
    font-size: 14px;
}
 
.dots {
    position: relative;
    top: 15%;
}

.dot {
    margin: 7% 0 5% 10%;
}

.window3_button{
    margin: 15% 0 0 50%;
}

.window_4_spusok li{
    font-size: 15px;
}

.scrollTop{
    width: 4%;
    transform: scale(.7);
}

.menuLi{
    font-size: 430%;
}

.menuLi3{
    font-size: 280%;
}

.leftIncon{
    margin-left: -5%;
}

.window3_button{
    font-size: 13px;
}

.window_4{
    margin-top: 10vh;
}

.windows_glaw_text4{
    margin-bottom: 5%;
}

.window4_button{
    margin: 10% 0 0% 50%;
    font-size: 12px;
    width: 20%;
}

.closeMenu {
    padding: 0 .75%;
    transform: scale(.8);
}

@keyframes closeMenuAnimaShow{
  0%{transform: scale(0);}
  100%{transform: scale(.8);}
}

.menuImg {
    top: 7%;
    right: 11%;
}

@keyframes menuImgAnimate{
    0%{transform: rotate(0deg);right: 35%;}
    100%{transform: rotate(15deg);right: 11%;}
}

.settingsModalBlockContent {
    width: 35%;
}

.closeSettings {
    right: 33%;
    top: 12%;
}

}

@media only screen and (min-width:1000px) and (max-width: 1100px){

.glitch {
    font-size: 75px;
}

.glitch:before, .glitch:after {
    top: -5px;
}

.welcome_p {
    font-size: 21px;
    margin-top: 14%;
}

.window1_background {
    width: 100%;
}

.window1_background2 {
    width: 60%;
}

.window1_button {
    margin-top: 25%;
    font-size: 25px;
    width: 40%;
    height: 10%;
}

.window1ButtonText {
    margin-top: 6.5%;
}

.windows_glaw_text {
    font-size: 35px;
    margin-top: -3%;
}

.hackers_attacks_allBlock {
    margin-top: 5%;
}

.TotalsTexts:after, .TotalsTexts:before{
    margin-top: 2.5%;
}

.window_2 {
    margin-top: 9%;
}

.window_2_moreText{
    font-size: 16.5px;
}

.window2_button {
    margin: 10% 0 0% 50%;
    font-size: 12px;
    width: 19%;
}

.mySlides h1 {
    font-size: 40px;
}

.mySlides{
    font-size: 13px;
}
 
.dots {
    position: relative;
    top: 15%;
    font-size: 15px;
}

.dot {
    margin: 7% 0 5% 10%;
}

.window3_button{
    margin: 15% 0 0 50%;
}

.window_4_spusok li{
    font-size: 15px;
}

.scrollTop{
    width: 4%;
    transform: scale(.7);
}

.menuLi{
    font-size: 400%;
}

.menuLi3{
    font-size: 270%;
}

.leftIncon{
    margin-left: -5%;
}

.window3_button {
    font-size: 10px;
    width: 25%;
}

.windows_glaw_text4{
    margin-bottom: 5%;
}

.window_4_spusok li:before {
    border: 11px solid transparent;
    border-bottom: 17px solid #23CD17;
    top: -20px;
}

.window4_button{
    margin: 10% 0 0% 50%;
    font-size: 10px;
    width: 19%;
}

.closeMenu {
    padding: 0 .75%;
    transform: scale(.8);
}

@keyframes closeMenuAnimaShow{
  0%{transform: scale(0);}
  100%{transform: scale(.8);}
}

.menuImg {
    top: 7%;
    right: 8%;
    transform: scale(.9) rotate(15deg);
}

@keyframes menuImgAnimate{
    0%{transform: rotate(0deg) scale(.9);right: 35%;}
    100%{transform: rotate(15deg) scale(.9);right: 8%;}
}

.settingsModalBlockContent {
    width: 35%;
}

.closeSettings {
    right: 33%;
    top: 12%;
    font-size: 52px;
}

}

@media only screen and (min-width:900px) and (max-width: 1000px){

.glitch {
    font-size: 65px;
}

.glitch:before, .glitch:after {
    top: -5px;
}

.welcome_p {
    font-size: 20px;
    margin-top: 15%;
}

.window1_background2 {
    width: 65%;
    right: 10%;
}

.window1_button {
    margin-top: 30%;
    font-size: 23px;
    width: 50%;
    height: 11%;
}

.window1ButtonText {
    margin-top: 9%;
}

.windows_glaw_text {
    font-size: 30px;
}

.TotalsTexts:after, .TotalsTexts:before{
    margin-top: 2.5%;
}

.window_2 {
    margin-top: 9%;
}

.window_2_moreText{
    font-size: 16px;
}

.window2_button {
    margin: 10% 0 0% 50%;
    font-size: 11px;
    width: 20%;
}

.mySlides h1 {
    font-size: 37px;
}

.mySlides{
    font-size: 12px;
}
 
.dots {
    position: relative;
    top: 15%;
    font-size: 12px;
}

.dot {
    margin: 7% 0 5% 10%;
}

.window3_button{
    margin: 13% 0 0 50%;
    width: 20%;
    font-size: 12px;
}

.window_4_spusok li{
    font-size: 12px;
}

.scrollTop{
    width: 4.5%;
    transform: scale(.7);
}

.menuLi{
    font-size: 380%;
    margin-left: 0;
}

.menuLi3{
    font-size: 260%;
}

.leftIncon{
    margin-left: -5%;
}

.window3_button {
    font-size: 12px;
    width: 20%;
}

.windows_glaw_text4{
    margin-bottom: 5%;
}

.window_4_spusok li:before {
    border: 9px solid transparent;
    border-bottom: 14px solid #23CD17;
    top: -15px;
    right: 10px;
}

.window4_button{
    margin: 10% 0 0% 50%;
    font-size: 10px;
    width: 19%;
}

.settings_end_menu{
    transform: scale(.9);
}

.closeMenu {
    padding: 0 .85%;
    transform: scale(.8);
}

@keyframes closeMenuAnimaShow{
  0%{transform: scale(0);}
  100%{transform: scale(.8);}
}

.menuImg {
    top: 0%;
    right: 5%;
    transform: scale(.8) rotate(15deg);
}

@keyframes menuImgAnimate{
    0%{transform: rotate(0deg) scale(.8);right: 35%;}
    100%{transform: rotate(15deg) scale(.8);right: 5%;}
}

.settingsModalBlockContent {
    position: fixed;
    border-radius: 5%;
    width: 40%;
    top: -16%;
    transform: scale(.6);
}

.closeSettings {
    right: 32%;
    top: 7%;
    font-size: 49px;
}
}
@media only screen and (min-width:767px) and (max-width: 900px){

.glitch {
    font-size: 55px;
    margin-top: 35%;
    margin-left: -3%;
}

.glitch:before, .glitch:after {
    top: 10px;
    width: 100%;
    transform: translateX(-10px);
}

.welcome_p {
    font-size: 19px;
    margin-top: 20%;
    width: 90%;
    margin-left: 4%;
}

.window1_background2 {
    width: 80%;
    right: 0%;
}

.window1_button {
    margin-top: 35%;
    font-size: 23px;
    width: 60%;
    height: 11%;
}

.window1ButtonText {
    margin-top: 7%;
}

.windows_glaw_text {
    font-size: 27px;
}

.TotalsTexts:after, .TotalsTexts:before{
    margin-top: 2.5%;
}

.window_2 {
    margin-top: 9%;
}

.window_2_moreText{
    font-size: 14px;
}

.window2_button {
    margin: 10% 0 0% 50%;
    font-size: 11px;
    width: 30%;
}

.hackers_attacks_allBlock {
    margin-top: 5%;
}

.mySlides h1 {
    font-size: 37px;
}

.mySlides{
    font-size: 11px;
}
 
.dots {
    position: relative;
    top: 15%;
    font-size: 12px;
}

.dot {
    margin: 7% 0 5% 10%;
}

.window3_button{
    margin: 15% 0 0 50%;
    width: 32%;
    font-size: 10px;
}

.window_4_spusok li{
    font-size: 12px;
}

.scrollTop{
    width: 5%;
    transform: scale(.7);
}

.menuLi{
    font-size: 370%;
    margin-left: 0;
}

.menuLi3{
    font-size: 250%;
}

.leftIncon{
    margin-left: -5%;
}

.window_4 {
    margin-top: 6%;
}

.windows_glaw_text4{
    margin-bottom: 9%;
}

.window_4_spusok li:before {
    border: 9px solid transparent;
    border-bottom: 14px solid #23CD17;
    top: -15px;
    right: 10px;
}

.window4_button{
    margin: 15% 0 0% 50%;
    font-size: 10px;
    width: 26%;
}

.settings_end_menu{
    transform: scale(.9);
}

.closeMenu {
    padding: 0 .85%;
    transform: scale(.8);
}

@keyframes closeMenuAnimaShow{
  0%{transform: scale(0);}
  100%{transform: scale(.8);}
}

.menuImg {
    top: 0%;
    right: 0%;
    transform: scale(.75) rotate(15deg);
}

@keyframes menuImgAnimate{
    0%{transform: rotate(0deg) scale(.75);right: 35%;}
    100%{transform: rotate(15deg) scale(.75);right: 0%;}
}

.settingsModalBlockContent {
    position: fixed;
    border-radius: 5%;
    width: 45%;
    top: -20%;
    transform: scale(.5);
}

.closeSettings {
    right: 30.9%;
    top: 11%;
    font-size: 49px;
}

.window1, .window_2, .window_3, .window_4{
  height: 88vh;
} 

.window1{
    height: 100vh;
}

}

@media only screen and (min-width:700px) and (max-width: 767px)/*, screen and (min-height: 600px) and (max-height: 650px)*/{
.glitch {
    font-size: 75px;
    margin-top: 19%;
}

.glitch:before, .glitch:after {
    top: -14%;
}

.welcome_p {
    font-size: 22px;
    margin-top: 10%;
    width: 70%;
}

.window1_mini_img{
  display: none;
  width: 50%;
}

.window1_background2, .window1_background{
    display: none;
}

.window1_button {
    margin-top: 17%;
    font-size: 23px;
    width: 25%;
    height: 10%;
}

.window1ButtonText {
    margin-top: 6.5%;
}

.windows_glaw_text {
    font-size: 30px;
}

 .windows_glaw_text4 {
    font-size: 24px;
}

.TotalsTexts:after, .TotalsTexts:before{
    margin-top: 2.5%;
}

.TotalsTexts4:after, .TotalsTexts4:before {
    margin-top: 2%;
}

.window_2 {
    margin-top: 9%;
}

.window_2_moreText{
    width: 60%;
    font-size: 16px;
    margin-top: 6%;
    margin-left: 19%;
}

.window_2Photo {
    left: 20%;
    width: 65%;
}

.window2_button {
    margin: 13% 0 10% 50%;
    font-size: 11px;
    width: 25%;
}

.mySlides h1 {
    font-size: 35px;
}

.mySlides{
    font-size: 11px;
    width: 80%;
    margin-left: 7%;
}

.slideshow-container {
    height: 250px;
}
 
.dots {
    position: relative;
    top: 15%;
    font-size: 12px;
}

.dot {
    margin: 7% 0 5% 10%;
}

.hackers_attacks_allBlock {
    margin-top: 5%;
}

.test1, .test2{
  display: flex;
  position: relative;
  left: -7%;
}

.active .window3hrs{
   width: 100%;
}

@keyframes window3_dots{
  0%{width: 10%;}50%{width: 6%;}100%{width: 100%;}
}

.noactive{
  animation: window_3_dots_noActive .5s; 
}

@keyframes window_3_dots_noActive{
  0%{width: 100%;}100%{width: 20%;}
}

.window3_button{
    margin: 13% 0 0 50%;
    width: 20%;
    font-size: 12px;
}

.window_4_spusok li{
    font-size: 12px;
}

.window_4_photo {
    width: 41%;
    margin-left: 29%;
    margin-top: -5%;
}

.window_4_spusok ul {
    margin-left: 25%;
    margin-top: 5%;
}

.scrollTop{
    width: 6%;
    transform: scale(.65);
}

.menuLi{
    font-size: 370%;
    margin-left: 0;
}

.menuLi3{
    font-size: 240%;
}

.leftIncon{
    margin-left: -5%;
}

.window3_button {
    font-size: 12px;
    width: 20%;
    margin: 40% 0 0 50%;
}

.window_4 {
    margin-top: 6%;
}

.windows_glaw_text4{
    margin-bottom: 9%;
}

.window_4_spusok li:before {
    border: 9px solid transparent;
    border-bottom: 14px solid #23CD17;
    top: -15px;
    right: 10px;
}

.window4_button{
    margin: 5% 0 0% 50%;
    font-size: 10px;
    width: 26%;
}

.settings_end_menu{
    transform: scale(.9);
}

.closeMenu {
    padding: 0 .95%;
    transform: scale(.8);
}

@keyframes closeMenuAnimaShow{
  0%{transform: scale(0);}
  100%{transform: scale(.8);}
}

.menuImg {
    top: 0%;
    right: 0%;
    transform: scale(.75) rotate(15deg);
}

@keyframes menuImgAnimate{
  0%{transform: rotate(0deg) transform(.75);right: 35%;}
  100%{transform: rotate(15deg) transform(.75);right: 0%;}
}

.ulmenu {
    top: 20%;
    left: 13%;
}

.ScrollScwipe, .CursorCryg{
    display: none;
}

.settingsContent{
    transform: scale(1.1);
}

.iconContent {
    margin-top: 30%;
    margin-left: -5%;
}

.flagBlock {
    margin-top: 10%;
}

.settingsModalBlockContent {
    position: fixed;
    border-radius: 5%;
    width: 45%;
    top: 27%;
    left: 27.5%;
    transform: scale(.9);
}

.closeSettings {
    right: 30.9%;
    top: 29%;
    font-size: 49px;
}

.startBlockEndLoad{
    display: none;
}

}

@media only screen and (min-width:600px) and (max-width: 700px){

.glitch {
    font-size: 80px;
    margin-top: 18%;
}

.glitch:before, .glitch:after {
    top: -13%;
}

.welcome_p {
    font-size: 23px;
    margin-top: 10%;
    width: 60%;
    margin-left: 20%;
}

.window1_mini_img{
  display: none;
  width: 50%;
}

.window1_background2, .window1_background{
    display: none;
}

.window1_button {
    margin-top: 17%;
    font-size: 23px;
    width: 32%;
    height: 10%;
}

.window1ButtonText {
    margin-top: 6.5%;
}

.windows_glaw_text {
    font-size: 27px;
}

.TotalsTexts:after, .TotalsTexts:before{
    display: none;
}

.window_2 {
    margin-top: 9%;
}

.window_2_moreText{
    width: 60%;
    font-size: 16px;
    margin-top: 6%;
    margin-left: 19%;
}

.window_2Photo {
    left: 20%;
    width: 65%;
}

.window2_button {
    margin: 13% 0 10% 50%;
    font-size: 11px;
    width: 30%;
}

.mySlides h1 {
    font-size: 35px;
}

.mySlides{
    font-size: 11px;
    width: 80%;
    margin-left: 7%;
}

.slideshow-container {
    height: 250px;
}
 
.dots {
    position: relative;
    top: 15%;
    font-size: 12px;
}

.dot {
    margin: 7% 0 5% 10%;
}

.hackers_attacks_allBlock {
    margin-top: 5%;
}

.test1, .test2{
  display: flex;
  position: relative;
  left: -7%;
}

.active .window3hrs{
   width: 100%;
}

@keyframes window3_dots{
  0%{width: 10%;}50%{width: 6%;}100%{width: 100%;}
}

.noactive{
  animation: window_3_dots_noActive .5s; 
}

@keyframes window_3_dots_noActive{
  0%{width: 100%;}100%{width: 20%;}
}

.window3_button{
    margin: 13% 0 0 50%;
    width: 20%;
    font-size: 12px;
}

.window_4_spusok li{
    font-size: 12px;
}

.window_4_photo {
    width: 41%;
    margin-left: 29%;
    margin-top: -5%;
}

.window_4_spusok ul {
    margin-left: 20%;
    margin-top: 5%;
}

.scrollTop{
    width: 7%;
    transform: scale(.60);
    top: 85%;
}

.menuLi{
    font-size: 320%;
    margin-left: 0;
}

.menuLi3{
    font-size: 220%;
}

.leftIncon{
    margin-left: -8%;
}

.window3_button {
    font-size: 11px;
    width: 26%;
    margin: 42% 0 0 50%;
}

.window_4 {
    margin-top: 6%;
}

.windows_glaw_text4{
    margin-bottom: 9%;
    font-size: 22px;
}

.window_4_spusok li:before {
    border: 9px solid transparent;
    border-bottom: 14px solid #23CD17;
    top: -15px;
    right: 10px;
}

.window4_button{
    margin: 7% 0 0% 50%;
    font-size: 8px;
    width: 26%;
}

.settings_end_menu{
    transform: scale(.8);
}

.closeMenu {
    padding: 0 1.2%;
    transform: scale(.8);
}

@keyframes closeMenuAnimaShow{
  0%{transform: scale(0);}
  100%{transform: scale(.8);}
}

.menuImg {
    top: 0%;
    right: 0%;
    transform: scale(.75) rotate(15deg);
}

@keyframes menuImgAnimate{
  0%{transform: rotate(0deg) transform(.75);right: 35%;}
  100%{transform: rotate(15deg) transform(.75);right: 0%;}
}

.ulmenu {
    top: 15%;
    left: 13%;
}

.ScrollScwipe, .CursorCryg{
    display: none;
}

.settingsContent{
    transform: scale(1.1);
}

.iconContent {
    margin-top: 30%;
    margin-left: -5%;
}

.flagBlock {
    margin-top: 10%;
}

.settingsModalBlockContent {
    position: fixed;
    border-radius: 5%;
    width: 50%;
    top: 25%;
    left: 25%;
    transform: scale(.9);
}

.closeSettings {
    right: 29.5%;
    top: 27%;
    font-size: 49px;
}

.startBlockEndLoad{
    display: none;
}

}

@media only screen and (min-width:500px) and (max-width: 600px)/*, screen and (min-height: 500px) and (max-height: 550px)*/{

.glitch {
    font-size: 80px;
    margin-top: 19%;
}

.glitch:before, .glitch:after {
    top: -11.5%;
}

.welcome_p {
    font-size: 22px;
    margin-top: 10%;
    width: 70%;
    margin-left: 15%;
}

.window1_mini_img{
  display: none;
  width: 50%;
}

.window1_background2, .window1_background{
    display: none;
}

.window1_button {
    margin-top: 17%;
    font-size: 23px;
    width: 32%;
    height: 10%;
}

.window1ButtonText {
    margin-top: 6.5%;
}

.windows_glaw_text {
    font-size: 24px;
}

.TotalsTexts:after, .TotalsTexts:before{
    margin-top: 2.5%;
}

.TotalsTexts4:after, .TotalsTexts4:before {
    margin-top: 2.6%;
}

.window_2 {
    margin-top: 9%;
}

.window_2_moreText{
    width: 60%;
    font-size: 15px;
    margin-top: 6%;
    margin-left: 19%;
}

.window_2Photo {
    left: 20%;
    width: 65%;
}

.window2_button {
    margin: 13% 0 10% 50%;
    font-size: 11px;
    width: 35%;
}

.mySlides h1 {
    font-size: 35px;
}

.mySlides{
    font-size: 11px;
    width: 80%;
    margin-left: 7%;
}

.slideshow-container {
    height: 250px;
}
 
.dots {
    position: relative;
    top: 23%;
    font-size: 12px;
}

.dot {
    margin: 7% 0 5% 10%;
}

.hackers_attacks_allBlock {
    margin-top: 5%;
}

.test1, .test2{
  display: flex;
  position: relative;
  left: -7%;
}

.active .window3hrs{
   width: 100%;
}

@keyframes window3_dots{
  0%{width: 10%;}50%{width: 6%;}100%{width: 100%;}
}

.noactive{
  animation: window_3_dots_noActive .5s; 
}

@keyframes window_3_dots_noActive{
  0%{width: 100%;}100%{width: 20%;}
}

.window3_button{
    margin: 13% 0 0 50%;
    width: 20%;
    font-size: 12px;
}

.window_4_spusok li{
    font-size: 12px;
}

.window_4_photo {
    width: 41%;
    margin-left: 29%;
    margin-top: -5%;
}

.window_4_spusok ul {
    margin-left: 15%;
    margin-top: 5%;
}

.scrollTop{
    width: 8%;
    transform: scale(.60);
    top: 85%;
}

.menuLi{
    font-size: 320%;
    margin-left: 0;
}

.menuLi3{
    font-size: 220%;
}

.leftIncon{
    margin-left: -13%;
}

.window3_button {
    font-size: 11px;
    width: 26%;
    margin: 50% 0 0 50%;
}

.window_4 {
    margin-top: 6%;
}

.windows_glaw_text4{
    margin-bottom: 9%;
    font-size: 19px;
}

.window_4_spusok li:before {
    border: 9px solid transparent;
    border-bottom: 14px solid #23CD17;
    top: -15px;
    right: 10px;
}

.window4_button{
    margin: 7% 0 0% 50%;
    font-size: 8px;
    width: 30%;
}

.settings_end_menu{
    transform: scale(.8);
}

.closeMenu {
    padding: 0 1.2%;
    transform: scale(.8);
}

@keyframes closeMenuAnimaShow{
  0%{transform: scale(0);}
  100%{transform: scale(.8);}
}

.menuImg {
    top: 0%;
    right: 0%;
    transform: scale(.75) rotate(15deg);
}

@keyframes menuImgAnimate{
  0%{transform: rotate(0deg) transform(.75);right: 35%;}
  100%{transform: rotate(15deg) transform(.75);right: 0%;}
}

.BlackMenuBlock{
    width: 140%;
    animation: menuBlockAnim 1.5s linear;
    transform: translateX(-10%) rotate(-40deg);
}

@keyframes menuBlockAnim{
  0%{transform: translateX(-100%) rotate(0deg);}
  50%{transform: translateX(0%) rotate(0deg);}
  100%{transform: translateX(-10%) rotate(-40deg);}
}

.ulmenu {
    top: 15%;
    left: 26%;
}

.ScrollScwipe, .CursorCryg{
    display: none;
}

.settingsContent{
    transform: scale(1.1);
    margin-left: 33%;
}

.iconContent {
    margin-top: 30%;
    margin-left: -5%;
}

.flagBlock {
    margin-top: 10%;
}

.settingsModalBlockContent {
    position: fixed;
    border-radius: 5%;
    width: 55%;
    top: 25%;
    left: 22.5%;
    transform: scale(1);
    background: linear-gradient(-135deg, transparent 60px, #111 0);
}

.closeSettings {
    right: 24%;
    top: 24%;
    font-size: 49px;
}

.startBlockEndLoad{
    display: none;
}

.window3_button {
    width: 40%;
    margin: 55% 0 0 50%;
}
}

@media only screen and (min-width:400px) and (max-width: 500px)/*, screen and (min-height: 450px) and (max-height: 500px)*/{

.glitch {
    font-size: 70px;
    margin-top: 21%;
}

.glitch:before, .glitch:after {
    top: -6%;
}

.welcome_p {
    font-size: 25px;
    margin-top: 20%;
    width: 80%;
    margin-left: 9%;
}

.TotalsTexts:before, .TotalsTexts:after {
     display: none;
}

.window1 {
    padding-bottom: 9%;
}

.window1_mini_img{
  display: none;
  width: 50%;
}

.window1_background2, .window1_background{
    display: none;
}

.window1_button {
    margin-top: 35%;
    font-size: 22px;
    width: 45%;
    height: 10%;
}

.window1ButtonText {
    margin-top: 9.5%;
}

.windows_glaw_text {
    font-size: 20px;
    margin-top: -5%;
}

.TotalsTexts4:after, .TotalsTexts4:before {
    margin-top: 2.5%;
}

.window_2 {
    margin-top: 9%;
}

.window_2_moreText{
    width: 70%;
    font-size: 14px;
    margin-top: 6%;
    margin-left: 14.8%;
}

.window_2Photo {
    left: 10%;
    width: 85%;
    margin-top: 5%;
}

.window2_button {
    margin: 30% 0 10% 50%;
    font-size: 9px;
    width: 45%;
}

.mySlides h1 {
    font-size: 30px;
}

.mySlides{
    font-size: 11px;
    width: 80%;
    margin-left: 9%;
}

.slideshow-container {
    height: 250px;
}
 
.dots {
    position: relative;
    top: 35%;
    font-size: 10px;
}

.dot {
    margin: 7% 0 5% 10%;
}

.mySlides p {
    margin-left: 0%;
    margin-right: 0%;
    width: 110%;
    margin-left: -5%;
}

.hackers_attacks_allBlock {
    margin-top: 10%;
}

.test1, .test2{
  display: flex;
  position: relative;
  left: -7%;
}

.active .window3hrs{
   width: 100%;
}

@keyframes window3_dots{
  0%{width: 10%;}50%{width: 6%;}100%{width: 100%;}
}

.noactive{
  animation: window_3_dots_noActive .5s; 
}

@keyframes window_3_dots_noActive{
  0%{width: 100%;}100%{width: 20%;}
}

.window3_button{
    margin: 13% 0 0 50%;
    width: 20%;
    font-size: 12px;
}

.window_4_spusok li{
    font-size: 11px;
}

.window_4_photo {
    width: 61%;
    margin-left: 20%;
    margin-top: 0%;
}

.window_4_spusok ul {
    margin-left: 7%;
    margin-top: 18%;
}

.scrollTop{
    width: 8%;
    transform: scale(.60);
    top: 85%;
}

.menuLi{
    font-size: 320%;
    margin-left: 0;
}

.menuLi3{
    font-size: 220%;
}

.leftIncon{
    margin-left: -6%;
}

.window3_button {
    font-size: 8.6px;
    width: 50%;
    margin: 75% 0 0 50%;
}

.window_4 {
    margin-top: 6%;
}

.windows_glaw_text4{
    margin-bottom: 12%;
    margin-top: 10%;
    font-size: 15px;
}

.window_4_spusok li:before {
    border: 9px solid transparent;
    border-bottom: 14px solid #23CD17;
    top: -15px;
    right: 10px;
}

.window4_button{
    margin: 22% 0 0% 50%;
    font-size: 8px;
    width: 48%;
}

.settings_end_menu{
    transform: scale(.8);
    right: -5%;
}

.closeMenu {
    padding: 0 1.5%;
    transform: scale(.8);
    top: 0%;
    right: 0%;
}

@keyframes closeMenuAnimaShow{
  0%{transform: scale(0);}
  100%{transform: scale(.8);}
}

.menuImg {
    top: 0%;
    right: 0%;
    transform: scale(.75) rotate(15deg);
}

@keyframes menuImgAnimate{
  0%{transform: rotate(0deg) transform(.75);right: 35%;}
  100%{transform: rotate(15deg) transform(.75);right: 0%;}
}

.BlackMenuBlock{
    width: 185%;
    animation: menuBlockAnim 1.5s ease-in;
    transform: translateX(-18%) rotate(-45deg);
}

@keyframes menuBlockAnim{
  0%{transform: translateX(-100%) rotate(0deg);}
  50%{transform: translateX(0%) rotate(0deg);}
  100%{transform: translateX(-18%) rotate(-45deg);}
}

.ulmenu {
    top: 15%;
    left: 18%;
}

.ScrollScwipe, .CursorCryg{
    display: none;
}

.settingsContent{
    transform: scale(1);
    margin-left: 29%;
}

.iconContent {
    margin-top: 30%;
    margin-left: -5%;
}

.flagBlock {
    margin-top: 10%;
}

.settingsModalBlockContent {
    position: fixed;
    border-radius: 5%;
    width: 80%;
    top: 25%;
    left: 10%;
    transform: scale(1);
    background: linear-gradient(-135deg, transparent 60px, #111 0);
}

.closeSettings {
    right: 12%;
    top: 23%;
    font-size: 49px;
}

.startBlockEndLoad{
    display: none;
}

}

@media only screen and (min-width:350px) and (max-width: 400px)/*, screen and (min-height: 400px) and (max-height: 450px)*/{

.glitch {
    font-size: 60px;
    margin-top: 19%;
}
 
.scrollEn .glitch{
      font-size: 47px;
}

.glitch:before, .glitch:after {
    top: -7.5%;
    left: 2.5%;
}

.welcome_p {
    font-size: 21px;
    margin-top: 24%;
    width: 75%;
}

.scrollRu .welcome_p {
    font-size: 19px;

}

.window1 {
    padding-bottom: 15%;
}

.window1_mini_img{
  display: none;
  width: 50%;
}

.window1_background2, .window1_background{
    display: none;
}

.window1_button {
    margin-top: 35%;
    font-size: 22px;
    width: 50%;
    height: 10%;
}

.window1ButtonText {
    margin-top: 6.5%;
}

.windows_glaw_text {
    font-size: 18px;
    margin-bottom: 10%;
}

.scrollRu .windows_glaw_text {
    font-size: 16px;
}

.TotalsTexts:after, .TotalsTexts:before{
    display: none;
    margin-top: 3.5%;
}

.window_2 {
    margin-top: 9%;
}

.window_2_moreText{
    width: 75%;
    font-size: 12px;
    margin-top: 6%;
    margin-left: 13%;
}

.window_2Photo {
    left: 10%;
    width: 90%;
    margin-top: 5%;
}

.window2_button {
    margin: 30% 0 10% 50%;
    font-size: 9px;
    width: 57%;
}

.mySlides h1 {
    font-size: 27px;
}

hr{
    margin-top: 0;
}

.mySlides{
    font-size: 10px;
    width: 90%;
    margin-left: 4%;
}

.slideshow-container {
    height: 250px;
}
 
.dots {
    position: relative;
    top: 36%;
    font-size: 10px;
}

.dot {
    margin: 7% 0 5% 10%;
}

.hackers_attacks_allBlock {
    margin-top: 5%;
}

.test1, .test2{
  display: flex;
  position: relative;
  left: -7%;
}

.active .window3hrs{
   width: 100%;
}

@keyframes window3_dots{
  0%{width: 10%;}50%{width: 6%;}100%{width: 100%;}
}

.noactive{
  animation: window_3_dots_noActive .5s; 
}

@keyframes window_3_dots_noActive{
  0%{width: 100%;}100%{width: 20%;}
}

.window3_button{
    margin: 13% 0 0 50%;
    width: 20%;
    font-size: 12px;
}

.window_4_spusok li {
    font-size: 10px;
}

.window_4_photo {
    width: 60%;
    margin-left: 22%;
    margin-top: -5%;
}

.window_4_spusok ul {
    margin-left: 0%;
    margin-top: 15%;
}

.scrollTop{
    width: 12%;
    transform: scale(.60);
    top: 84%;
    right: 1%;
}

.menuLi{
    font-size: 270%;
    margin-left: 0;
}

.menuLi3{
    font-size: 150%;
}

.leftIncon{
    margin-left: -10%;
}

.window3_button {
    font-size: 10px;
    width: 46%;
    margin: 80% 0 0 50%;
}

.window_4 {
    margin-top: 6%;
}

.windows_glaw_text4{
    margin-bottom: 19%;
    font-size: 15px;
}

.window_4_spusok li:before {
    border: 6px solid transparent;
    border-bottom: 11px solid #23CD17;
    top: -11px;
    right: 6px;
}

.window4_button{
    margin: 25% 0 0% 50%;
    font-size: 8px;
    width: 57%;
}

.settings_end_menu{
    transform: scale(.76);
    right: -6%;
    top: 1.4%;
}

.menu {
    top: -10%;
    left: 0px;
}

.settings{
    margin-top: -3px;
}

.closeMenu {
    padding: 0 2.1%;
    transform: scale(.8);
    top: 0%;
    right: 0%;
}

@keyframes closeMenuAnimaShow{
  0%{transform: scale(0);}
  100%{transform: scale(.8);}
}

.menuImg {
    top: 0%;
    right: 0%;
    transform: scale(.75) rotate(15deg);
}

@keyframes menuImgAnimate{
  0%{transform: rotate(0deg) transform(.75);right: 35%;}
  100%{transform: rotate(15deg) transform(.75);right: 0%;}
}

.BlackMenuBlock{
    width: 195%;
    animation: menuBlockAnim 1.5s ease-in;
    transform: translateX(-20%) rotate(-40deg);
}

@keyframes menuBlockAnim{
  0%{transform: translateX(-100%) rotate(0deg);}
  50%{transform: translateX(0%) rotate(0deg);}
  100%{transform: translateX(-20%) rotate(-40deg);}
}

.ulmenu {
    top: 25%;
    left: 18%;
}

.ScrollScwipe, .CursorCryg{
    display: none;
}

.settingsContent{
    transform: scale(1);
    margin-left: 29%;
}

.iconContent {
    margin-top: 30%;
    margin-left: -5%;
}

.flagBlock {
    margin-top: 10%;
}

.settingsModalBlockContent {
    position: fixed;
    border-radius: 5%;
    width: 80%;
    top: 25%;
    left: 10.4%;
    transform: scale(1);
    background: linear-gradient(-135deg, transparent 60px, #111 0);
}

.closeSettings {
    right: 12%;
    top: 24%;
    font-size: 49px;
}

.startBlockEndLoad{
    display: none;
}

}

@media only screen and (min-width:0px) and (max-width: 350px)/*, screen and (min-height: 400px) and (max-height: 450px)*/{

.glitch {
    font-size: 60px;
    margin-top: 19%;
}
 
.scrollEn .glitch{
      font-size: 47px;
}

.glitch:before, .glitch:after {
    top: -7.5%;
    left: 2.5%;
}

.welcome_p {
    font-size: 20px;
    margin-top: 19%;
    width: 75%;
}

.scrollRu .welcome_p {
    font-size: 19px;

}

.window1_mini_img{
  display: none;
  width: 50%;
}

.window1_background2, .window1_background{
    display: none;
}

.window1_button {
    margin-top: 35%;
    font-size: 22px;
    width: 50%;
    height: 10%;
}

.window1ButtonText {
    margin-top: 6.5%;
}

.windows_glaw_text {
    font-size: 18px;
}

.windows_glaw_text4 {
    font-size: 13px;
}

.scrollRu .windows_glaw_text {
    font-size: 14px;
}

.TotalsTexts:after, .TotalsTexts:before{
    display: none;
    margin-top: 3.5%;
}

.window_2 {
    margin-top: 9%;
}

.window_2_moreText{
    width: 75%;
    font-size: 12px;
    margin-top: 6%;
    margin-left: 13%;
}

.window_2Photo {
    left: 10%;
    width: 90%;
}

.window2_button {
    margin: 30% 0 10% 50%;
    font-size: 9px;
    width: 57%;
}

.adapClass_mainText_3_En{
font-size: 15.5px;
}

.mySlides h1 {
    font-size: 27px;
}

hr{
    margin-top: 0;
}

.mySlides{
    font-size: 10px;
    width: 90%;
    margin-left: 4%;
}

.slideshow-container {
    height: 250px;
}
 
.dots {
    position: relative;
    top: 36%;
    font-size: 10px;
}

.dot {
    margin: 7% 0 5% 10%;
}

.hackers_attacks_allBlock {
    margin-top: 5%;
}

.test1, .test2{
  display: flex;
  position: relative;
  left: -7%;
}

.active .window3hrs{
   width: 100%;
}

@keyframes window3_dots{
  0%{width: 10%;}50%{width: 6%;}100%{width: 100%;}
}

.noactive{
  animation: window_3_dots_noActive .5s; 
}

@keyframes window_3_dots_noActive{
  0%{width: 100%;}100%{width: 20%;}
}

.window3_button{
    margin: 13% 0 0 50%;
    width: 20%;
    font-size: 12px;
}

.window_4_spusok li {
    font-size: 10px;
}

.window_4_photo {
    width: 60%;
    margin-left: 22%;
    margin-top: -5%;
}

.window_4_spusok ul {
    margin-left: 0%;
    margin-top: 15%;
}

.scrollTop{
    width: 12%;
    transform: scale(.60);
    top: 84%;
    right: 1%;
}

.menuLi{
    font-size: 270%;
    margin-left: 0;
}

.menuLi3{
    font-size: 150%;
}

.leftIncon{
    margin-left: -14.5%;
}

.window3_button {
    font-size: 9.5px;
    width: 56%;
    margin: 87% 0 0 50%;
}

.scrollEn .window3_button{
    font-size: 8px;
    width: 66%;
}

.TotalsTexts4_En_adap{
    font-size: 11px;
}

.TotalsTexts4_Ru_adap{
   font-size: 13.5px;
}

.window_4 {
    margin-top: 6%;
}

.windows_glaw_text4{
    margin-bottom: 17%;
}

.window_4_spusok li:before {
    border: 6px solid transparent;
    border-bottom: 11px solid #23CD17;
    top: -11px;
    right: 6px;
}

.window4_button{
    margin: 22% 0 0% 50%;
    font-size: 8px;
    width: 57%;
}

.settings_end_menu{
    transform: scale(.76);
    right: -6%;
    top: 1.4%;
}

.menu {
    top: -10%;
    left: 0px;
}

.settings{
    margin-top: -3px;
}

.closeMenu {
    padding: 0 2.1%;
    transform: scale(.8);
    top: 0%;
    right: 0%;
}

@keyframes closeMenuAnimaShow{
  0%{transform: scale(0);}
  100%{transform: scale(.8);}
}

.menuImg {
    top: 0%;
    right: 0%;
    transform: scale(.75) rotate(15deg);
}

@keyframes menuImgAnimate{
  0%{transform: rotate(0deg) transform(.75);right: 35%;}
  100%{transform: rotate(15deg) transform(.75);right: 0%;}
}

.BlackMenuBlock{
    width: 195%;
    animation: menuBlockAnim 1.5s ease-in;
    transform: translateX(-20%) rotate(-40deg);
}

@keyframes menuBlockAnim{
  0%{transform: translateX(-100%) rotate(0deg);}
  50%{transform: translateX(0%) rotate(0deg);}
  100%{transform: translateX(-20%) rotate(-40deg);}
}

.ulmenu {
    top: 25%;
    left: 18%;
}

.ScrollScwipe, .CursorCryg{
    display: none;
}

.settingsContent{
    transform: scale(1);
    margin-left: 29%;
}

.iconContent {
    margin-top: 30%;
    margin-left: -5%;
}

.flagBlock {
    margin-top: 10%;
}

.settingsModalBlockContent {
    position: fixed;
    border-radius: 5%;
    width: 80%;
    top: 25%;
    left: 10.4%;
    transform: scale(1);
    background: linear-gradient(-135deg, transparent 60px, #111 0);
}

.closeSettings {
    right: 12%;
    top: 24%;
    font-size: 49px;
}

.startBlockEndLoad{
    display: none;
}

.mySlides p {
    margin-left: 0%;
    margin-right: 0%;
}

}

@media only screen and (min-width:374px) and (max-width: 415px) and (min-height: 800px) and (max-height: 850px){
body{
    overflow-x: hidden;
}

.glitch{
    font-size: 57px;
    margin-top: 21.2%;
}

.window1_button {
    margin-top: 50%;
}

.welcome_p {
    margin-top: 34%;
    width: 90%;
    margin-left: 5%;
}

.glitch:before, .glitch:after {
    top: -5.5%;
}

.scrollRu .windows_glaw_text2 {
    font-size: 25px;
}

.windows_glaw_text2 {
    font-size: 25px;
}

.window_2_moreText {
    margin-top: 15%;
    margin-left: 0%;
    width: 100%;
    font-size: 15px;
}

.window_2Photo{
    margin-top: 10%;
    left: 5%;
    width: 100%;
}

.window2_button {
    margin: 35% 0 10% 50%;
    font-size: 10.5px;
    width: 67%;
}

.scrollRu .windows_glaw_text3 {
    font-size: 17px;
}

.scrollUa .windows_glaw_text3{
    font-size: 22px;
}

.dots {
    top: 39%;
}

.window3_button {
    font-size: 10.5px;
    width: 56%;
    margin: 95% 0 0 50%;
}

.scrollEn .window3_button {
    font-size: 10px;
    width: 66%;
}

.windows_glaw_text4 {
    margin-bottom: 20%;
}

.scrollEn .TotalsTexts4{
    font-size: 14px;
}

.scrollRu .TotalsTexts4{
    font-size: 17px;
}

.TotalsTexts4_Ua_adap{
    font-size: 17px;
}

.window_4_photo {
    width: 75%;
    margin-left: 12%;
}

.scrollEn .window_4_photo {
    width: 80%;
    margin-left: 10%;
}

.window_4_spusok ul {
    margin-left: 0%;
    margin-top: 20%;
}

.window4_button {
    margin: 28% 0 0% 50%;
    font-size: 10px;
}

.window_4_spusok li {
    font-size: 13px;
}

.scrollEn .window_4_spusok li {
    font-size: 14px;
}

.scrollRu .window_4_spusok li {
    font-size: 13px;
}

}

/*2k*/
@media only screen and (min-width:2000px) and (max-width: 3000px){
   .glitch{
    font-size: 150px;
   }

@-webkit-keyframes effect{
  0%{
    clip:rect(55px,99999px,156px,0);
  }

  5%{
    clip:rect(47px,99999px,130px,0);
  }

  10%{
    clip:rect(33px,99999px,136px,0);
  }

  15%{
    clip:rect(35px,99999px,19px,0);
  }

  20%{
    clip:rect(63px,99999px,159px,0);
  }

  25%{
    clip:rect(96px,99999px,198px,0);
  }

  30%{
    clip:rect(48px,99999px,177px,0);
  }

  35%{
    clip:rect(50px,99999px,134px,0);
  }

  40%{
    clip:rect(60px,99999px,172px,0);
  }

  45%{
    clip:rect(10px,99999px,181px,0);
  }

  50%{
    clip:rect(2px,99999px,160px,0);
  }

  55%{
    clip:rect(23px,99999px,189px,0);
  }

  60%{
    clip:rect(76px,99999px,191px,0);
  }

  65%{
    clip:rect(62px,99999px,130px,0);
  }

  70%{
    clip:rect(60px,99999px,173px,0);
  }

  75%{
    clip:rect(60px,99999px,187px,0);
  }

  80%{
    clip:rect(2px,99999px,114px,0);
  }

  85%{
    clip:rect(28px,99999px,187px,0);
  }
  90%{
    clip:rect(73px,99999px,150px,0);
  }

  95%{
    clip:rect(79px,99999px,170px,0);
  }

  100%{
        clip:rect(17px,99999px,179px,0);
  }
}

.welcome_p {
    font-size: 45px;
}

.window1_button {
    width: 35%;
    margin: 20% 0 0 50%;
    font-size: 42px;
}

.loaderImg{
    width: 170px;
    margin-left: 70px;
    margin-top: 70px;
}

.loader-line-mask{
    display: none;
}

.loader-circle{
    width: 190px;
    height: 190px;
    border-radius: 100%;
}

.windows_glaw_text2{
    font-size: 60px;
}

.window_2_moreText{
    font-size: 40px;
}

.window2_button {
    margin: 10% 0 0% 50%;
    width: 20%;
    font-size: 24px;
    padding: .5% 1%;
}

.windows_glaw_text3{
    font-size: 60px;
}

.mySlides{
    font-size: 25px;
}

.mySlides h1 {
    font-size: 70px;
}

.dots{
    font-size: 24px;
}
.window3_button{
    width: 20%;
    font-size: 20px;
    margin: 25% 0 0 50%;
    padding: .5% 1%;
}

.window3_button .window1ButtonText{
    margin-top: 5%;
}

.windows_glaw_text4{
    font-size: 60px;
    margin-bottom: 5%;
}

.window_4_spusok li {
    font-size: 30px;
}

.window4_button {
    margin: 10% 0 0% 50%;
    width: 18%;
    font-size: 20px;
}

/*setings and menu*/
.settings_end_menu{
    transform: scale(1.4);
}

.settingsModalBlockContent{
    transform: scale(1.4);
    top: 26%;
}

.closeSettings{
    top: 15%;
    right: 31.5%;
    font-size: 85px;
}

.menuImg{
    right: 12%;
    top: 12%;
    width: 45%;
}

.ulmenu{
    top: 22%;
    font-size: 20px;
}

.closeMenu{
    font-size: 35px;
    right: .5%;
}
}

/*4k*/
@media only screen and (min-width:3840px){
.glitch{
    font-size: 230px;
}

@-webkit-keyframes effect{
  0%{
    clip:rect(55px,99999px,156px,0);
  }

  5%{
    clip:rect(47px,99999px,130px,0);
  }

  10%{
    clip:rect(33px,99999px,136px,0);
  }

  15%{
    clip:rect(35px,99999px,119px,0);
  }

  20%{
    clip:rect(63px,99999px,159px,0);
  }

  25%{
    clip:rect(96px,99999px,198px,0);
  }

  30%{
    clip:rect(48px,99999px,177px,0);
  }

  35%{
    clip:rect(50px,99999px,134px,0);
  }

  40%{
    clip:rect(60px,99999px,172px,0);
  }

  45%{
    clip:rect(10px,99999px,181px,0);
  }

  50%{
    clip:rect(2px,99999px,160px,0);
  }

  55%{
    clip:rect(23px,99999px,189px,0);
  }

  60%{
    clip:rect(76px,99999px,191px,0);
  }

  65%{
    clip:rect(62px,99999px,130px,0);
  }

  70%{
    clip:rect(60px,99999px,173px,0);
  }

  75%{
    clip:rect(60px,99999px,187px,0);
  }

  80%{
    clip:rect(2px,99999px,114px,0);
  }

  85%{
    clip:rect(28px,99999px,187px,0);
  }
  90%{
    clip:rect(73px,99999px,150px,0);
  }

  95%{
    clip:rect(79px,99999px,170px,0);
  }

  100%{
    clip:rect(17px,99999px,179px,0);
  }
}

.welcome_p {
    font-size: 75px;
}

.window1_button {
    width: 35%;
    margin: 20% 0 0 50%;
    font-size: 70px;
}

.loaderImg{
    width: 170px;
    margin-left: 70px;
    margin-top: 70px;
}

.loader-line-mask{
    display: none;
}

.loader-circle{
    width: 190px;
    height: 190px;
    border-radius: 100%;
}

.windows_glaw_text2{
    font-size: 90px;
}

.window_2_moreText{
    font-size: 55px;
}

.window2_button {
    margin: 10% 0 0% 50%;
    width: 20%;
    font-size: 34px;
    padding: 1%;
}

.window2_button .window1ButtonText {
    margin-top: 3%;
}

.windows_glaw_text3{
    font-size: 80px;
}

.mySlides{
    font-size: 35px;
    width: 130%;
}

.mySlides h1 {
    font-size: 100px;
}

.dots{
    font-size: 32px;
}
.window3_button{
    width: 20%;
    font-size: 32px;
    margin: 28% 0 0 50%;
    padding: .5% 1%;
}

.window3_button .window1ButtonText{
    margin-top: 5%;
}

.windows_glaw_text4{
    font-size: 80px;
    margin-bottom: 5%;
}

.window_4_spusok li {
    font-size: 30px;
}

.window4_button {
    margin: 10% 0 0% 50%;
    width: 18%;
    font-size: 30px;
    padding: .2% 2%;
}

.window_4_spusok li:before {
    border: 23px solid transparent;
    border-bottom: 29px solid #23CD17;
    top: -40px;
}

.scrollTop {
    padding: 32px 0;
    width: 2%;
    top: 93%;
    right: 2%;
}

/*setings and menu*/
.settings_end_menu{
   transform: scale(2);
}
.settingsContent{
   font-size: 120px;
}

.toggle{
    transform: scale(2.5);
}

.settingsModalBlockContent{
    transform: scale(1.4);
    top: 26%;
}

.flagsBlocks {
    font-size: 22px;
}

.closeSettings{
    top: 15%;
    right: 31%;
    font-size: 105px;
}

.menuImg{
    right: 12%;
    top: 12%;
    width: 45%;
}

.ulmenu{
    top: 22%;
    font-size: 30px;
}

.closeMenu{
    font-size: 45px;
    right: .5%;
    padding: 0 .40%;
}

}

@media only screen and (min-width:400px) and (max-width: 500px){
.BlackMenuBlock {
    width: 220%;
    animation: menuBlockAnim 1.5s ease-in;
    transform: translateX(-38%) rotate(-45deg);
}

@keyframes menuBlockAnim{
  0%{transform: translateX(-100%) rotate(0deg);}
  50%{transform: translateX(0%) rotate(0deg);}
  100%{transform: translateX(-38%) rotate(-45deg);}
}
}

@media only screen and (min-width:0px) and (max-width: 350px){
.closeMenu{
    padding: .1% 2.4%;
    transform: scale(.9);
}
}

@media only screen and (min-width:700px) and (max-width: 800px) and (min-height: 1150px) and (max-height: 1300px){

.window1_background2 {
    width: 100%;
    right: -15%;
}

.glitch {
    margin-top: 145%;
}

.welcome_p {
    font-size: 22px;
}

.window1_button {
    margin-top: 45%;
}

.window1_button {
    height: 8%;
}

.window1ButtonText {
    margin-top: 13%;
}

.glitch:before, .glitch:after {
    top: 330px;
}

.window_2_moreText {
    font-size: 17px;
}

.window2_button {
    margin: 25% 0 0% 50%;
}

.windows_glaw_text {
    font-size: 30px;
    margin-bottom: 10%;
}

.mySlides {
    font-size: 12px;
}

.window3_button {
    margin: 25% 0 0 50%;
}

.windows_glaw_text3{
    margin-bottom: 15%;
}

.windows_glaw_text4 {
    margin-bottom: 15%;
}

.window4_button {
    margin: 25% 0 0% 50%;
}

.settingsModalBlockContent {
    top: 30%;
    left: 27.5%;
    transform: scale(1.2);
}

.closeSettings {
    right: 24.9%;
    top: 25%;
    font-size: 59px;
}

.ulmenu {
    top: 30%;
    left: 12%;
}

.menuImg {
    top: 30%;
    transform: scale(.95) rotate(15deg);
}

@keyframes menuImgAnimate{
    0%{transform: rotate(0deg) scale(.95);right: 35%;}
    100%{transform: rotate(15deg) scale(.95);right: 0%;}
}

.BlackMenuBlock{
    transform: translateX(-45%) rotate(15deg);
}

@keyframes menuBlockAnim{
0%{transform: translateX(-100%) rotate(0deg);}
50%{transform: translateX(-45%) rotate(0deg);}
100%{transform: translateX(-45%) rotate(15deg);}
}

.closeMenu{
    transform: scale(1);
}
}

@media only screen and (min-width:1200px) and (max-width: 1400px) and (min-height: 600px) and (max-height: 800px){
.window_2_moreText{
    font-size: 20px;
}

.windows_glaw_text{
    font-size: 35px;
}

.window2_button{
    font-size: 13px;
}

.windows_glaw_text3{
    font-size: 32px;
}

.mySlides {
    font-size: 14px;
}

.mySlides h1 {
    font-size: 40px;
}

.hackers_attacks_allBlock {
    height: 265px;
}

.hackers_attacks_allBlock {
    margin-top: 7%;
}

.windows_glaw_text4{
    font-size: 32px;
}
}

@media only screen and (max-width:767px){
   .settings_end_menu{
    z-index: 1;
   }

   .settingsModalBlock_2 {
    z-index: 20;
   }

}

@media only screen and (max-width:767px){
.settingsModalBlock_2{
        background: #FFF;
    }

.BlackDisink .settingsModalBlock_2{
        background: #111;
    }
}

@media only screen and (min-width:1400px) and (max-width: 1500px){.ulmenu{font-size: 75%;}}